<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3><%= user.id%></h3>
			<h4><%= user.title %></h4>
			<p>EMAIL: <%= user.email %></p>
			<hr>
			<a class="btn btn-sm btn-warning" href="/user/edit<%=user.id%>">Edit</a>
		</div>
	</div>
</div>